.app {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.app__content {
  display: flex;
  flex-wrap: nowrap;
}

.app__info {
  flex: 0 1 35%;
  padding-right: 15px;
  max-width: 35%;
  text-overflow: ellipsis;
}

.app__map {
  flex: 1 1 65%;
  max-width: 65%;
}
