.point-field {
  width: 100%;
  display: block;
  height: 28px;
  padding: 0 2px;
  margin: 10px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 28px;
  background-color: transparent;
  background-clip: padding-box;
  box-sizing: border-box !important;
  border: 1px #eee solid;
  border-radius: unset;
}
