.point-list-item {
  align-items: center;
  position: relative;
  padding: 10px 25px 15px 5px;
  margin-bottom: 5px;
  background: #f3f3f3;
}

.point-list-item_dragging {
  box-shadow: #ccc 2px 2px 5px;
}

.point-list-item__title {
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.point-list-item__delete-btn {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 0;
  background: transparent url('../assets/delete.svg') no-repeat;
  background-size: contain;
  cursor: pointer;
}

.point-list-item__toggle-address-btn {
  position: absolute;
  width: 20px;
  height: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  background: transparent url('../assets/down.svg') no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 300ms;
}

.point-list-item__toggle-address-btn:focus {
  outline: none;
}

.point-list-item__toggle-address-btn_opened {
  transform: rotate(180deg);
  transition: transform 100ms;
}

.point-list-item__address {
  max-height: 0;
  margin: 0;
  width: 100%;
  font-size: 12px;
  line-height: 1.5em;
  color: #777;
  overflow: hidden;
  text-align: center;
  transition: max-height 300ms;
}

.point-list-item__address_opened {
  /* Show 10 lines of address */
  max-height: 15em;
  transition: max-height 3s;
}
